*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
/* container */
.container{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
  
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
}
/* flex: dung vao the cha de di chuyen the con */
.header-container{
    height: 80px;
   display: flex;
   /* justify-content:; di chuyn theo truc chinh( chieu ngang)
   align-items di chuyet heo truc phu( chieu doc)
   flex-direction:column chuyen truc chinh thanh truc phu    */
   justify-content: space-between;
   align-items: center;
   color: white;
  
}
.header-container a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
a.active{
    color: #e62b4a;
}
.header-container .logo{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
/* banner */
.banner{
    background-image: url(./image-video/home_slider.jpg);
    height: 90vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    text-align: center;
    width: 40%;
    color: white;
}
.banner-container h2{
    font-size: 40px;
    font-weight: 700 ;
    margin: 20px 0 20px 0 ;
}
.banner-container button{
    background-color: #e62b4a;
    border: none;
    padding: 15px 30px;
    text-transform: capitalize ;
    color: white;
    font-size: 15px;
    transition: 0.3s;
    text-transform: uppercase;
    
}
.banner-container button:hover{
    background-color: #af2239;
    cursor: pointer;
    

}
.banner-container i {
  
    font-size: 40px;
    color: #e62b4a;
    animation-name:animate_arrow1 ;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
    
}
@keyframes animate_arrow1{
    from{
    color:white;
    transform: translateY(0px);
opacity: 1; 

    }
    to{ color: whitesmoke;
        transform: translateY(100px);
opacity: 0;
    }
}
/* carosel */
.carosel-tittle{
    text-align: center;
    margin-bottom: 50px ;
}
.carosel-list{
    color: white;
}
.carosel{
    padding: 80px ;
    background: black;
    color: white;
}
.carosel-item {
   height: 250px ;
   padding: 0 10px ; 
  
}
.item-container i{
    font-size: 50px;
}
.item-container{
    padding: 80px 0px;
    background-color: white;
    color: #888888;
    width: 100% ;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center; 
    position: relative; 
}
.item-container::before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    background: red;
    top: -100%;
    right: 0;
    transition: 0.3s; }
   
.item-container:hover::before{
    top:0;
}
.slick-dots Li button:before{
    color: white;
    font-size: 15px;
}
.slick-dots Li.slick-active button::before{
    color: red;
    
}
.slick-dots{
    bottom: -40px;
}
/* blog */
.blog{
    padding: 80px 0;
}
.blog-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.blog-item img{
    width: 100%;
    filter: grayscale(50%) contrast(50%);
    height: 100%;
    object-fit: cover;
}
.blog-item{
    position: relative;
}
.item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 43, 74, 0.6) ;
    opacity: 0;
    transition: 0.03s;
}
.blog-item.item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
/* tinh theo duong line
4 cot 5 line */
.blog-item.item2{
    /* grid-column: 3 / 5 ;
    grid-row: 3 / 5  ; */
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
.item-overlaytittle{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transform: translateY(30px);
    transition: 1s;
}
.item-overlaysearch{
    transform: translateY(30px);
    transition: 1s;
}
.blog-item:hover .item-overlaytittle, .blog-item:hover .item-overlaysearch {
    transform: translateY(0px
    );
}
.item-overlaysearch{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 8px;
    
}

.blog-item:hover .item-overlay{
    opacity: 1;
}
/* number */
.number{
    background-color: black;
    color: white;
    padding: 80px 0;

}
.number-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.number-item h3{
    font-weight: 400;
    font-size: 50px;
}
/* exper */
.exper{
    background-image: url(./image-video/bussiness_img_1.jpg);
    padding: 80px 0;
    background-size: cover;
    background-attachment: fixed;
}
.exper video{
    width: 100%;
    
}
.exper-tittle{
    margin-bottom: 40px ;
    color:white;
    text-align: center;
}
.exper-tittle h2{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0;

}
.exper-tittle h3{
    color: red;
    font-size: 14px;
}
.exper-tittle p{
    color: #888888;
}
/* contact */
.contact-container{
    padding: 80px 0;
}
.contact-tittle  {
    
    text-align: center;
    margin: 50px 0;
}
.contact-tittle h1{
    padding-bottom: 15px;
    font-size: 45px;
}
.contact-tittle p{
    color: #888888;
}
.contact-content{
    display: flex;
}
.contact-form input{
    display: block;
    width: 400px;
    height: 50px;
    
   
}
.contact-form input

.map { 
    width: 60%;
    height: auto;
}
